.container{
    background-image: url("https://media1.tenor.com/m/NyoXJa_89KgAAAAC/unicorn-dance.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}